/* Variables
========================================
*/

:root {
	--f-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--f-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;

	--c-white: #ffffff;
	--c-white-10: rgba(255, 255, 255, 0.1);
	--c-white-60: rgba(255, 255, 255, 0.6);
	--c-black: #0c0f11;
	--c-black-10: rgba(0, 0, 0, 0.1);
	--c-black-20: rgba(0, 0, 0, 0.2);

	--c-orange: #ff6000;
	--c-blue: #a9e0fa;
	--c-red: #f8a98f;
	--c-beige: #fefbd5;
	--c-green: #9bd2ae;
	--c-gray: #cac1be;
}


/* Global reset
========================================
*/

/* Charset */
@charset 'UTF-8';

/* Sizing & rendering */
*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

/* Selection */
::selection {
	background: var(--c-orange);
	color: var(--c-black);
	text-shadow: none;
}

/* Focus */
*:focus {
	outline: 2px solid var(--c-orange);
	outline-offset: 3px;
}

/* Media */
img,
svg,
picture,
canvas,
audio,
video,
iframe {
	display: block;
	max-width: 100%;
}


/* Global elements
========================================
*/

/* Typefaces */
body,
legend,
label,
button,
kbd {
	font-family: var(--f-sans);
}
input[type='number'],
code,
pre,
samp,
var {
	font-family: var(--f-mono);
}

/* Links */
a {
	background-color: transparent;
	color: var(--c-orange);
}
a:hover {
	color: var(--c-white);
}

/* Abbrevations */
abbr {
	text-decoration: none;
	cursor: help;
}

/* Form elements */
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 0;
	display: block;
	width: 100%;
}
input[type='number'] {
	-moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input:focus {
	background-color: var(--c-black-10);
	outline: none;
}
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	font-size: 1.4rem;
	border: 0;
	color: inherit;
	cursor: pointer;
	display: inline;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
	user-select: none;
}


/* Utility classes
========================================
*/

/* Visually hidden */
.hidden-visually:not(:focus):not(:active) {
	white-space: nowrap; 
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	clip-path: inset(50%);
	clip: rect(0 0 0 0); 
}


/* Layout
========================================
*/

/* Body */
body {
	background-color: var(--c-black);
	color: var(--c-white);
	font-size: 1.4rem;
	line-height: 1.5;
	max-width: 1440px;
	padding: 0;
	margin: 0 auto;
}

/* Header bar */
.bar {
	background-color: var(--c-black-10);
	width: 100%;
	height: 5rem;
	position: fixed;
	top: 0;
	z-index: 1;
}

/* Content */
.content {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;
	padding: 2rem;
}
@media (min-width: 800px) {
	.content {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}
@media (min-width: 1150px) {
	.content {
		height: 100vh;
		max-height: 800px;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* Intro */
.intro {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border: 2px solid var(--c-white-10);
	border-radius: 1rem;
}
.intro:nth-child(7) {
	display: none;
}
.intro__inner {
	padding: 3.5rem 2rem 1rem;
}
.intro__headline {
	font-size: 2rem;
	text-align: center;
	margin: 0;
}
.intro__actions {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-top:  2px solid var(--c-white-10);
}
.intro__label {
	font-weight: bold;
	text-align: center;
	padding: 2rem 2rem 1rem;
	margin: 0;
}
.intro__list {
	list-style: none;
	display: flex;
	flex-grow: 1;
	width: 100%;
	padding-left: 0;
	margin: 0;
}
.intro__list-item {
	display: flex;
	flex-grow: 1;
}

/* Add button */
.add-button {
	color: var(--c-white-60);
	flex-grow: 1;
	padding: 1rem;
}
.add-button:hover {
	background-color: var(--c-white-10);
}
.add-button strong {
	color: var(--c-white);
	font-size: 2rem;
	display: block;
}

/* Player */
.player {
	color: var(--c-black);
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 3rem 2rem 2rem;
	border-radius: 1rem;
}
.player:nth-of-type(1) {
	background-color: var(--c-beige);
}
.player:nth-of-type(2) {
	background-color: var(--c-green);
}
.player:nth-of-type(3) {
	background-color: var(--c-red);
}
.player:nth-of-type(4) {
	background-color: var(--c-gray);
}
.player:nth-of-type(5) {
	background-color: var(--c-blue);
}
.player:nth-of-type(6) {
	background-color: var(--c-white);
}
.player__name {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	text-overflow: ellipsis;
	height: 4rem;
	padding: 0.5rem 1rem;
	margin: 0;
	border-radius: 1rem;
}
.player__name:focus {
	background-color: var(--c-black-10);
}

/* Player buttons */
.player__button {
	background-color: var(--c-black-10);
	border-radius: 1rem;
	line-height: 1;
	display: block;
	padding: 0.5rem 0.75rem;
	position: absolute;
	top: 0;
	opacity: 0;
}
.player__button:hover {
	background-color: var(--c-black-20);
}
.player__button:focus,
.player:hover .player__button {
	opacity: 1;
}
.counter__reset {
	left: 0;
}
.player__delete {
	right: 0;
}
.player:not(:last-of-type) .player__delete {
	display: none;
}

/* Counter */
.counter {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/* Life counter */
.life {
	display: grid;
	grid-template: 
		'a b c' auto
		'd b e' auto
		'f g h' auto / 10rem 1fr 10rem;
	grid-gap: 0 1rem;
	flex-grow: 1;
	margin-top: 2rem;
}
.life__input {
	grid-area: b;
	font-size: 5rem;
	font-weight: bold;
	text-align: center;
	height: 100%;
	border-radius: 1rem;
}
.life__button {
	border: 2px solid var(--c-black-10);
	font-size: 3rem;
	width: 100%;
	/*height: calc(100% - 0.5rem);*/
	padding: 1rem;
}
.life__button:hover {
	background-color: var(--c-black-10);
}
.life__button--1 {
	grid-area: a;
	margin-bottom: 0.5rem;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
}
.life__button--2 {
	grid-area: c;
	margin-bottom: 0.5rem;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
}
.life__button--3 {
	grid-area: d;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}
.life__button--4 {
	grid-area: e;
	border-bottom-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

/* Counter group */
.counter-group {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	margin-top: 2rem;
}
.counter__item {
	display: grid;
	grid-template:
		'a b c' auto / 1fr 1fr 1fr;
	padding: 0;
	margin: 0;
	border: 0;
	border-top: 2px solid var(--c-black-10);
	border-radius: 1rem;
}
.counter__legend {
	background-color: var(--c-black-10);
	text-align: center;
	line-height: 1;
	padding: 0.5rem 0.75rem;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
}
.counter__input {
	grid-area: b;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
	height: 4rem;
}
.counter__button {
	height: 4rem;
}
.counter__button:hover {
	background-color: var(--c-black-10);
}
.counter__button:first-of-type {
	grid-area: c;
	border-left: 2px solid var(--c-black-10);
}
.counter__button:last-of-type {
	grid-area: a;
	border-right: 2px solid var(--c-black-10);
}
